@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Luxurious+Roman&family=Roboto&display=swap');
*{
    margin:0px;
    padding: 0px;
}
body{
  
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
 background:url('hi.jpg');
 background-repeat:no-repeat ;
 background-size:cover ;
 height: 100vh;
 overflow: hidden;
}
.container{
    padding: 20px 20px;

    color:white;
}
.current-info{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.date-container
{
    font-weight: 100;

}
.date-container .time{
font-size: 40px;
}
.date-container #am-pm{
    font-size:30px;
    
}
.date-container .date{
    font-size: 30px;
}
.place-container{
    text-align: end;
}
.place-container .time-zone
{
    font-size: 30px;
    font-weight: 100;
}
.place-container .country{
    font-size: 12px;
    font-weight: 700;
}
.current-info .others{
    display: flex;
    flex-direction: column;
 background: rgba(24,24,27,0.6);
 padding:20px;
 border-radius: 10px;
 margin:10px 0;
 border: 2px solid white;
}
.current-info .others .weather-item{
    display:flex;
   justify-content: space-between;
} 
.future-forecast{
   

    position:fixed;
    bottom:0;
  left: 0%;
    display: flex;
    color: white;
    width: 100%;
  align-items: center;
  justify-content: center;
}
.future-forecast .weather-forecast{
    display: flex;
}
.weather-forecast-item{
    background: rgba(24,24,27);
    opacity: 0.8;
    padding: 5px 20px;
    margin: 0px 6px;
    border: 1px solid white;
    border-radius: 25px;
}
.future-forecast .today
{  background: rgba(24,24,27);
    opacity: 0.8;
    display: flex;
    align-items:center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 25px;


  }  .future-forecast .today .day{
      padding: 5px 15px;
      text-align: center;
      background: rgb(72, 68, 68);
      border-radius: 20px;
  }
  .weather-forecast .day{
    
    text-align: center;
    background: rgb(72, 68, 68);
    border-radius: 20px;
  }
  .future-forecast .today .temp{
    padding-top: 15px;
    font-size: 19px;
  }
  @media only screen and  (max-width:730px){
    
    .container{
        padding: 20px;
    }
    
    

    .future-forecast .today .temp{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 50px;
    }

    .date-container #am-pm{
        font-size: 20px;
    }

    .date-container .date{
        font-size: 20px;
    }

    .place-container{
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone{
        font-size: 20px;
    }

    .current-info .others{
        padding: 12px;
    }

    .current-info .others .weather-item{
        font-size: 14px;
    }

}

@media only screen and (max-width: 1400px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}